body {
  margin: 0px;
  font-family: var(--main-font);
  color: var(--clear-black);
  letter-spacing: 0.04em;
}
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px;
  margin-top: 0px;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.button {
  cursor: pointer;
  padding:0;
}
