:root {
  --accent-color: #d41443;
  --secondary-accent-color: #fea5bb;
  --clear-white: #ffffff;
  --clear-black: #000000;
  --secondary-text-color: #907e82;
  --cream-pink: #ffb8ca;
  --cofee-color: #f0d1a5;
  --light-green: #c2e297;
  --secondary-bg: #fff5f6;
  --menu-bg: #e17992;
  --button-hover: #ecebeb;
  --menu-border-color: #e18298;
  --special-font: Titan One, sans-serif;
  --main-font: DM Sans, sans-serif;
}
