<section class="about section" id="how-it's-made">
  <div class="about__box container">
    <div class="about__title-box">
      <p class="about__label">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
    </div>
    <div class="about__content-box">
      <picture class="about__picture">
        <source
          srcset="./images/desktop/about-cow-web.webp 1x, ./images/desktop/about-cow-web@2x.webp 2x"
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="./images/desktop/about-cow.png 1x, ./images/desktop/about-cow@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/about-cow-web.webp 1x, ./images/tablet/about-cow-web@2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/tablet/about-cow.png 1x, ./images/tablet/about-cow@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/mobile/about-cow-web.webp 1x, ./images/mobile/about-cow-web@2x.webp 2x"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="./images/mobile/about-cow.png 1x, ./images/mobile/about-cow@2x.png 2x"
          media="(max-width: 767px)"
        />
        <img class="about__image" src="./images/mobile/about-cow.png" alt="bio and eco cow-milk" />
      </picture>
      <div class="about__description">
        <p class="description__header">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="description__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="description__text">Aliquam erat volutpat. Aenean accumsan.</p>
        <div class="about__btn-box">
          <button type="button" class="about__btn secondary-button button" data-modal-open>
            Read more
            <svg class="about__icon">
              <use href="./images/sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="modal-description is-hidden" data-modal>
          <p class="description-extend__header">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="description-extend__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>

          <p class="description-extend__text">Aliquam erat volutpat. Aenean accumsan.</p>
          <p class="description-extend__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <button
            type="button"
            class="description-extend__button secondary-button button"
            data-modal-close
          >
            Less
            <svg class="description-modal__icon about__icon" width=6 height=10> 
              <use href="./images/sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
