<section class="contacts-section">
    <div class="container contacts-container">
        <ul class="shops">
            <li class="shops__item">
                <h3 class="shops__title"></h3>
                <p class="shops__location"></p>
                <p class="shops__description"></p>

                <ul class="shops__schedule">
                    <li class="days"></li>
                    <li class="time"></li>
                </ul>
                <address class="shops__address">
                    <ul class="list">
                        <li><a href="mailto:info@devstudio.com">info@devstudio.com</a>
                        </li>
                        <li><a href="tel:+380961111111">+38 096 111 11 11</a></li>
                    </ul>
                </address>
            </li>
            <li>
                <h3></h3>
                <p></p>
                <p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                </p>
                <p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                </p>
            </li>
            <li>
                <h3></h3>
                <p></p>
                <p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                </p>
                <p>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
                </p>
            </li>
        </ul>
    </div>

</section>