<section class="contacts-section">
    <div class="container contacts-container">
        <ul class="shops">
            <li class="shops__item">
                <h3 class="shops__title">CAFE</h3>
                <p class="shops__location">Chicago</p>
                <p class="shops__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="shops__schedule">
                    <li class="days">Monday - Friday</li>
                    <li class="time">06:00 AM - 10:00 PM</li>
                    <li class="days">Saturday - Sunday</li>
                    <li class="time">08:00 AM - 16:00 PM</li>
                </ul>
                <address class="shops__address">
                    <ul class="list">
                        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    </ul>
                </address>
            </li>
            <li class="shops__item">
                <h3 class="shops__title">FOODTRUCK</h3>
                <p class="shops__location">Los Angeles</p>
                <p class="shops__description"></p>
                <ul class="shops__schedule">
                    <ul class="shops__schedule">
                        <li class="days">Monday - Friday</li>
                        <li class="time">06:00 AM - 10:00 PM</li>
                        <li class="days">Saturday - Sunday</li>
                        <li class="time">08:00 AM - 16:00 PM</li>
                    </ul>
                </ul>
                <address class="shops__address">
                    <ul class="list">
                        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    </ul>
                </address>
            </li>
            <li class="shops__item">
                <h3 class="shops__title">CAFE</h3>
                <p class="shops__location"></p>
                <p class="shops__description"></p>
                <ul class="shops__schedule">
                    <ul class="shops__schedule">
                        <li class="days">Monday - Friday</li>
                        <li class="time">06:00 AM - 10:00 PM</li>
                        <li class="days">Saturday - Sunday</li>
                        <li class="time">08:00 AM - 16:00 PM</li>
                    </ul>
                </ul>
                <address class="shops__address">
                    <ul class="list">
                        <li><a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                        <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                    </ul>
                </address>
            </li>
        </ul>
    </div>

</section>