<section class="contacts-section" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container contacts-container">
    <ul class="shops list">
      <li class="shops__item">
        <p class="shops__title">CAFE</p>
        <div class="shops__subsection">
          <p class="shops__city">Chicago</p>
          <p class="shops__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="shops__subsection list">
          <li class="days">Monday - Friday</li>
          <li class="time">06:00 AM - 10:00 PM</li>
          <li class="days">Saturday - Sunday</li>
          <li class="time">08:00 AM - 16:00 PM</li>
        </ul>
        <address class="shops__address">
          <ul class="shops__subsection list">
            <li><a href="tel:+610383766284" class="link shops__contact">+61(0) 383 766 284</a></li>
            <li>
              <a href="mailto:noreply@envato.com" class="link shops__contact">noreply@envato.com</a>
            </li>
          </ul>
        </address>
      </li>
      <li class="shops__item">
        <p class="shops__title shops__title--invert">FOODTRUCK</p>
        <div class="shops__subsection">
          <p class="shops__city">Los Angeles</p>
          <p class="shops__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="shops__subsection list">
          <li class="days">Monday - Friday</li>
          <li class="time">06:00 AM - 10:00 PM</li>
          <li class="days">Saturday - Sunday</li>
          <li class="time">08:00 AM - 16:00 PM</li>
        </ul>
        <address class="shops__address">
          <ul class="shops__subsection list">
            <li><a href="tel:+610383766284" class="link shops__contact">+61(0) 383 766 284</a></li>
            <li>
              <a href="mailto:noreply@envato.com" class="link shops__contact">noreply@envato.com</a>
            </li>
          </ul>
        </address>
      </li>
      <li class="shops__item">
        <p class="shops__title">CAFE</p>
        <div class="shops__subsection">
          <p class="shops__city">New York</p>
          <p class="shops__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="shops__subsection list">
          <li class="days">Monday - Friday</li>
          <li class="time">06:00 AM - 10:00 PM</li>
          <li class="days">Saturday - Sunday</li>
          <li class="time">08:00 AM - 16:00 PM</li>
        </ul>
        <address class="shops__address">
          <ul class="shops__subsection list">
            <li><a href="tel:+610383766284" class="link shops__contact">+61(0) 383 766 284</a></li>
            <li>
              <a href="mailto:noreply@envato.com" class="link shops__contact">noreply@envato.com</a>
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <ul class="contacts-buttons list">
      <li class="contacts-buttons__item">
        <a
          href="https://goo.gl/maps/2h3JQdR6oxF41UYAA"
          class="accent-button contacts-buttons__btn link"
          target="_blank"
        >
          Our Locations
          <svg class="right-arrow right-arrow--inverse" width="6" height="10">
            <use href="./images/sprite.svg#icon-right-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="contacts-buttons__item">
        <a
          href="https://g.page/goitua?share"
          class="link secondary-button contacts-buttons__btn"
          target="_blank"
        >
          Franchise
          <svg class="right-arrow" width="6" height="10">
            <use href="./images/sprite.svg#icon-right-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
