<section class="reviews" id="about-us">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="container">
    <div class="reviews-slider">
      <div class="reviews__slide">
        <picture class="reviews__pic">
          <source
            srcset="
              ./images/desktop/customer1-web.webp    1x,
              ./images/desktop/customer1-web@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="./images/desktop/customer1.png 1x, ./images/desktop/customer1@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/customer1-web.webp 1x, ./images/tablet/customer1-web@2x.webp 2x"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/tablet/customer1.png 1x, ./images/tablet/customer1@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mobile/customer1-web.webp 1x, ./images/mobile/customer1-web@2x.webp 2x"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="./images/mobile/customer1.png 1x, ./images/mobile/customer1@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img class="reviews__pic" src="./images/desktop/customer1.png" alt="Клиент1" />
        </picture>
        <div class="reviews__nav">
          <div class="reviews__text-box">
            <div class="reviews__text-underline">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
        <div class="reviews__desc">
          <svg class="reviews__icon" width="32px" height="4px">
            <use href="./images/sprite.svg#icon-customer-reviews-dots"></use>
          </svg>
          <p class="reviews__name">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="reviews__slide">
        <picture class="reviews__pic">
          <source
            srcset="
              ./images/desktop/customer2-web.webp    1x,
              ./images/desktop/customer2-web@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="./images/desktop/customer2.png 1x, ./images/desktop/customer2@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/customer2-web.webp 1x, ./images/tablet/customer2-web@2x.webp 2x"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/tablet/customer2.png 1x, ./images/tablet/customer2@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mobile/customer2-web.webp 1x, ./images/mobile/customer2-web@2x.webp 2x"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="./images/mobile/customer2.png 1x, ./images/mobile/customer2@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img class="reviews__pic" src="./images/desktop/customer2.png" alt="Клиент2" />
        </picture>
        <div class="reviews__nav">
          <div class="reviews__text-box">
            <div class="reviews__text-underline">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
        <div class="reviews__desc">
          <svg class="reviews__icon" width="32px" height="4px">
            <use href="./images/sprite.svg#icon-customer-reviews-dots"></use>
          </svg>
          <p class="reviews__name">Elisabeth, Miami</p>
        </div>
      </div>
      <div class="reviews__slide">
        <picture class="reviews__pic">
          <source
            srcset="
              ./images/desktop/customer3-web.webp    1x,
              ./images/desktop/customer3-web@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="./images/desktop/customer3.png 1x, ./images/desktop/customer3@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tablet/customer3-web.webp 1x, ./images/tablet/customer3-web@2x.webp 2x"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/tablet/customer3.png 1x, ./images/tablet/customer3@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/mobile/customer3-web.webp 1x, ./images/mobile/customer3-web@2x.webp 2x"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="./images/mobile/customer3.png 1x, ./images/mobile/customer3@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img class="reviews__pic" src="./images/desktop/customer3.png" alt="Клиент3" />
        </picture>
        <div class="reviews__nav">
          <div class="reviews__text-box">
            <div class="reviews__text-underline">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
        </div>
        <div class="reviews__desc">
          <svg class="reviews__icon" width="32px" height="4px">
            <use href="./images/sprite.svg#icon-customer-reviews-dots"></use>
          </svg>
          <p class="reviews__name">Natalie, New York</p>
        </div>
      </div>
    </div>
  </div>
</section>
