<section>
    <div class="slider-for">
        <picture>
            <source srcset="
          ./images/desktop/customer1-web.webp    1x,
          ./images/desktop/customer1-web@2x.webp 2x
        " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
          ./images/desktop/customer1.png    1x,
          ./images/desktop/customer1@2x.png 2x
        " media="(min-width: 1280px)" />
            <source srcset="
          ./images/tablet/customer1-web.webp    1x,
          ./images/tablet/customer1-web@2x.webp 2x
        " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
          ./images/tablet/customer1.png    1x,
          ./images/tablet/customer1@2x.png 2x
        " media="(min-width: 768px)" />
            <source srcset="
          ./images/mobile/customer1-web.webp    1x,
          ./images/mobile/customer1-web@2x.webp 2x
        " media="(max-width: 767px)" type="image/webp" />
            <source srcset="
          ./images/mobile/customer1.png    1x,
          ./images/mobile/customer1@2x.png 2x
        " media="(max-width: 767px)" />
            <img class="slider-pic" src="./images/desktop/customer1.png" alt="Клиент1" />
        </picture>
    </div>
    <div class="slider-for">
        <picture>
            <source srcset="
          ./images/desktop/customer2-web.webp    1x,
          ./images/desktop/customer2-web@2x.webp 2x
        " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
          ./images/desktop/customer2.png    1x,
          ./images/desktop/customer2@2x.png 2x
        " media="(min-width: 1280px)" />
            <source srcset="
          ./images/tablet/customer2-web.webp    1x,
          ./images/tablet/customer2-web@2x.webp 2x
        " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
          ./images/tablet/customer2.png    1x,
          ./images/tablet/customer2@2x.png 2x
        " media="(min-width: 768px)" />
            <source srcset="
          ./images/mobile/customer2-web.webp    1x,
          ./images/mobile/customer2-web@2x.webp 2x
        " media="(max-width: 767px)" type="image/webp" />
            <source srcset="
          ./images/mobile/customer2.png    1x,
          ./images/mobile/customer2@2x.png 2x
        " media="(max-width: 767px)" />
            <img class="slider-pic" src="./images/desktop/customer2.png" alt="Клиент2" />
        </picture>
    </div>
    <div class="slider-for">
        <picture>
            <source srcset="
          ./images/desktop/customer3-web.webp    1x,
          ./images/desktop/customer3-web@2x.webp 2x
        " media="(min-width: 1280px)" type="image/webp" />
            <source srcset="
          ./images/desktop/customer3.png    1x,
          ./images/desktop/customer3@2x.png 2x
        " media="(min-width: 1280px)" />
            <source srcset="
          ./images/tablet/customer3-web.webp    1x,
          ./images/tablet/customer3-web@2x.webp 2x
        " media="(min-width: 768px)" type="image/webp" />
            <source srcset="
          ./images/tablet/customer3.png    1x,
          ./images/tablet/customer3@2x.png 2x
        " media="(min-width: 768px)" />
            <source srcset="
          ./images/mobile/customer3-web.webp    1x,
          ./images/mobile/customer3-web@2x.webp 2x
        " media="(max-width: 767px)" type="image/webp" />
            <source srcset="
          ./images/mobile/customer3.png    1x,
          ./images/mobile/customer3@2x.png 2x
        " media="(max-width: 767px)" />
            <img class="slider-pic" src="./images/desktop/customer3.png" alt="Клиент3" />
        </picture>
    </div>
</section>