<section class="hero-section ">
    <div class="container hero__container">
    <div class="hero__content">
        <div>
             <h1 class="hero__title">  
             ice cream made with
            <span class="hero__title--red">passion</span>
             </h1> 
             <ul class="hero__btn-list list">
            <li class="hero__btn-item">
                <button type="button" class="hero__btn accent-button">Products</button></li>
            <li class="hero__btn-item">
                <button type="button" class="hero__btn secondary-button">How it’s made?</button></li>
             </ul>
        </div>
        <ul class="hero-counter list">
         <li class="hero-counter__item"> 
            <p class="hero-counter__number">16</p> 
            <p class="hero-counter__text">cafes</p>
            </li>
         <li class="hero-counter__item"> 
            <p class="hero-counter__number">23</p>  
            <p class="hero-counter__text">food trucks</p>
        </li> 
        </ul>
    </div>
       <div class="hero__secondary-text"> 
             <p class="hero-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et
            </p> 
            <a href="">
                <picture>
                    <source
                    srcset="../src/images/desktop/button-right-arrow-hero-web.webp 1x, ../src/images/desktop/button-right-arrow-hero-web@2x.webp 2x"
                    media="(min-width: 1280px)" type="image/webp">
                <source
                srcset="../src/images/desktop/button-right-arrow-hero.png 1x, ../src/images/desktop/button-right-arrow-hero@2x.png 2x"
                    media="(min-width: 1280px)">
                    
                    <source
                    srcset="../src/images/tablet/button-right-arrow-hero-web.webp 1x, ../src/images/tablet/button-right-arrow-hero-web@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source
                    srcset="../src/images/tablet/button-right-arrow-hero.png 1x, ../src/images/tablet/button-right-arrow-hero@2x.png 2x"
                        media="(min-width: 768px)">
                    
                    <img class="button-right-arrow-hero" src="" alt="">
                    </picture>
                </a>
            </div>
        </div>
    </div>
</section>