<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      <span class="hero-title-text__white">ice cream made with</span>
      <span class="hero-title-text__red">passion</span>
    </h1>
    <ul class="hero-btn hero-btn__list list">
      <li class="hero-btn__item">
        <button type="button" class="style-btn hero-btn__white">Products</button>
      </li>
      <li class="hero-btn__item">
        <button type="button" class="style-btn hero-btn__inverse">How it’s made?</button>
      </li>
    </ul>

    <ul class="hero-counter">
      <li>
        <p class="hero-counter__cafe">16</p>
        <p class="hero-counter__text">cafes</p>
      </li>
      <li>
        <p class="hero-counter__trucks">23</p>
        <p class="hero-counter__text">food trucks</p>
      </li>
    </ul>

    <div>
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <!-- <a href="" class=btn >
        <svg class=btn >
            <use href="">


            </use>
        </svg>>
          </a> -->
    </div>
  </div>
</section>
