    <section class=hero-section>
    <h1 class="hero-title">
        <span class="hero-title-text__white">ice cream made with</span>
        <span class="hero-title-text__red">passion</span>
    </h1>

        <ul class="hero-counter">
            <li> <p class="hero-counter__cafe">16</p> 
            <p class="hero-counter__text">cafes</p></li>
            <li> <p class="hero-counter__trucks">23</p>  
            <p class="hero-counter__text">food trucks</p></li> 
        </ul>
        <ul class="hero-btn list">
            <li class="hero-btn__item"><button type="button" class="style-btn hero-btn__white">Products</button></li>
            <li class="hero-btn__item"><button type="button" class="style-btn hero-btn__inverse">How it’s made?</button></li>
        </ul>
        <picture>
            <sourse srcset="" media="" typ=""> 
            <sourse srcset="" media="" typ=""> 
            <sourse srcset="" media="" typ=""> 
            <sourse srcset="" media="" typ="">  
            <img src="" alt="">
        </picture>

        <picture>
            <sourse srcset="" media="" typ=""> 
            <sourse srcset="" media="" typ=""> 
            <sourse srcset="" media="" typ=""> 
            <sourse srcset="" media="" typ="">  
            <img src="" alt="">
        </picture>

        <picture>
            <sourse srcset="" media="" typ=""> 
            <sourse srcset="" media="" typ=""> 
            <sourse srcset="" media="" typ=""> 
            <sourse srcset="" media="" typ="">  
            <img src="" alt="">
        </picture>


    <div>
        <p class="hero-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque doloribus facere, est perferendis, sed deserunt optio harum adipisci dolorem nemo voluptatibus veniam numquam at ipsum asperiores dolorum iure? Numquam, consequuntur?</p>
        <a href="" class=btn >
        <svg class=btn >
            <use href="">


            </use>
        </svg>>
    </a>
        
        </div>
    </section>