<section class="products" id="our-products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__list-item ice">
        <picture class="products__image-box">
          <!-- DESKTOP -->
          <source
            class="products__image"
            srcset="
              ./images/desktop/product-ice-web.webp    1x,
              ./images/desktop/product-ice-web@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            class="products__image"
            srcset="./images/desktop/product-ice.png 1x, ./images/desktop/product-ice@2x.png 2x"
            media="(min-width:1280px)"
          />
          <!-- TABLET -->
          <source
            class="products__image"
            srcset="
              ./images/tablet/product-ice-web.webp    1x,
              ./images/tablet/product-ice-web@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            class="products__image"
            srcset="./images/tablet/product-ice.png 1x, ./images/tablet/product-ice@2x.png 2x"
            media="(min-width:768px)"
          />
          <!-- MOBILE -->
          <source
            class="products__image"
            srcset="
              ./images/mobile/product-ice-web.webp    1x,
              ./images/mobile/product-ice-web@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            class="products__image"
            srcset="./images/tablet/product-ice.png 1x, ./images/tablet/product-ice@2x.png 2x"
            media="(max-width:767px)"
          />
          <img class="products__image" src="./images/desktop/product-ice.png" alt="Мороженое" />
        </picture>
        <h3 class="products__item-title">ice cream</h3>
        <svg width="26px" height="6px" class="icon-poducts-dots">
          <use href="./images/sprite.svg#icon-products-dots"></use>
        </svg>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="" class="link">
          <picture>
            <source
              srcset="
                ./images/desktop/products-arrow-button-web.webp    1x,
                ./images/desktop/products-arrow-button-web@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/desktop/products-arrow-button.png    1x,
                ./images/desktop/products-arrow-button@2x.png 2x
              "
            />
            <img src="./images/desktop/products-arrow-button.png" alt="Квази-кнопка" />
          </picture>
        </a>
      </li>
      <li class="products__list-item coffee">
        <picture class="products__image-box">
          <!-- DESKTOP -->
          <source
            class="products__image"
            srcset="
              ./images/desktop/product-coffee-web.webp    1x,
              ./images/desktop/product-coffee-web@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            class="products__image"
            srcset="
              ./images/desktop/product-coffee.png    1x,
              ./images/desktop/product-coffee@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <!-- TABLET -->
          <source
            class="products__image"
            srcset="
              ./images/tablet/product-coffee-web.webp    1x,
              ./images/tablet/product-coffee-web@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            class="products__image"
            srcset="./images/tablet/product-coffee.png 1x, ./images/tablet/product-coffee@2x.png 2x"
            media="(min-width:768px)"
          />
          <!-- MOBILE -->
          <source
            class="products__image"
            srcset="
              ./images/mobile/product-coffee-web.webp    1x,
              ./images/mobile/product-coffee-web@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            class="products__image"
            srcset="./images/tablet/product-coffee.png 1x, ./images/tablet/product-coffee@2x.png 2x"
            media="(max-width:767px)"
          />
          <img class="products__image" src="./images/desktop/product-coffee.png" alt="Кофе" />
        </picture>
        <h3 class="products__item-title">ice coffee</h3>
        <svg width="26px" height="6px" class="icon-poducts-dots">
          <use href="./images/sprite.svg#icon-products-dots"></use>
        </svg>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <a href="" class="link">
          <picture>
            <source
              srcset="
                ./images/desktop/products-arrow-button-web.webp    1x,
                ./images/desktop/products-arrow-button-web@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/desktop/products-arrow-button.png    1x,
                ./images/desktop/products-arrow-button@2x.png 2x
              "
            />
            <img src="./images/desktop/products-arrow-button.png" alt="Квази-кнопка" />
          </picture>
        </a>
      </li>
      <li class="products__list-item shake">
        <picture class="products__image-box">
          <!-- DESKTOP -->
          <source
            class="products__image"
            srcset="
              ./images/desktop/product-shake-web.webp    1x,
              ./images/desktop/product-shake-web@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1280px)"
          />
          <source
            class="products__image"
            srcset="./images/desktop/product-shake.png 1x, ./images/desktop/product-shake@2x.png 2x"
            media="(min-width:1280px)"
          />
          <!-- TABLET -->
          <source
            class="products__image"
            srcset="
              ./images/tablet/product-shake-web.webp    1x,
              ./images/tablet/product-shake-web@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:768px)"
          />
          <source
            class="products__image"
            srcset="./images/tablet/product-shake.png 1x, ./images/tablet/product-shake@2x.png 2x"
            media="(min-width:768px)"
          />
          <!-- MOBILE -->
          <source
            class="products__image"
            srcset="
              ./images/mobile/product-shake-web.webp    1x,
              ./images/mobile/product-shake-web@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:767px)"
          />
          <source
            class="products__image"
            srcset="./images/tablet/product-shake.png 1x, ./images/tablet/product-shake@2x.png 2x"
            media="(max-width:767px)"
          />
          <img class="products__image" src="./images/desktop/product-shake.png" alt="Милкшейк" />
        </picture>
        <h3 class="products__item-title">milkshakes</h3>
        <svg width="26px" height="6px" class="icon-poducts-dots">
          <use href="./images/sprite.svg#icon-products-dots"></use>
        </svg>
        <p class="products__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="" class="link">
          <picture>
            <source
              srcset="
                ./images/desktop/products-arrow-button-web.webp    1x,
                ./images/desktop/products-arrow-button-web@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/desktop/products-arrow-button.png    1x,
                ./images/desktop/products-arrow-button@2x.png 2x
              "
            />
            <img src="./images/desktop/products-arrow-button.png" alt="Квази-кнопка" />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
