<section class="products">
  <div class="container">
    <p>100% natural</p>
    <h2>products</h2>
    <ul class="products__list list">
      <li class="products__list-item">
        <h3>ice cream</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button"></button>
      </li>
      <li class="products__list-item">
        <h3>ice coffee</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button"></button>
      </li>
      <li class="products__list-item">
        <h3>milkshakes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button"></button>
      </li>
    </ul>
  </div>
</section>
