.about {
  background-color: var(--secondary-bg);
  background-image: url(../images/mobile/about-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 50% bottom 100px;
} // left 0
.about__title-box {
  width: 200px;
  text-align: center;
}
.about__label {
  color: var(--secondary-accent-color);
  font-family: var(--special-font);
  //   font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.about__title {
  color: var(--accent-color);
  font-family: var(--special-font);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.about__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 101px;
  padding-bottom: 39px;
  // уточнить у Богдана если он задал паддинг топ след секции.
}
.about__content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__description {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0;
  text-align: left;
}
.description__header {
  margin-bottom: 60px;
}
.description__text {
  color: var(--secondary-text-color);
}
.description__text:nth-of-type(2n + 2) {
  margin-bottom: 10px;
}
.about__image {
  width: 100%;
  margin-bottom: 46px;
}
.about__btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  border-radius: 22px;
  margin-top: 26px;
}

.about__icon {
  width: 6px;
  height: 10px;
  margin-left: 18px;
}

.about__btn-box {
  width: 220px;
  display: flex;
  justify-content: flex-start;
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 320px),
  (min-resolution: 2dppx) and (min-width: 320px) {
  .about {
    background-image: url(../images/mobile/about-bg-web@2x.webp),
      url(../images/mobile/about-bg@2x.png);
  }
}

@media screen and (max-width: 767px) {
  .about {
    background-image: url(../images/mobile/about-bg-web.webp), url(../images/mobile/about-bg.png);
  }
}
@media screen and(min-width: 768px) {
  .about {
    background-image: none;
  }
  .about__title-box {
    width: 435px;
  }
  .about__label {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0;
    margin-bottom: 16px;
  }
  .about__title {
    font-size: 48px;
    margin-bottom: 50px;
    letter-spacing: 0.04em;
    text-align: center;
  }
  .about__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 66px;
    // уточнить у Богдана если он задал паддинг топ след секции.
  }
  .about__content-box {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: flex-start;
  }
  .about__description {
    width: calc((700px - 17px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.78;
    text-align: left;
    padding-top: 50px;
    margin-left: 17px;
  }
  .description__header {
    letter-spacing: 0;
    margin-bottom: 40px;
  }
  .description__text {
    // color: var(--secondary-text-color);
    // letter-spacing: 0.04em;
  }
  .description__text:nth-of-type(2n + 2) {
    margin-bottom: 10px;
  }
  .about__image {
    width: calc((700px - 17px) / 2);
    margin-bottom: 0;
  }
  .about__btn {
    margin-top: 62px;
  }
}
@media screen and(min-width: 1280px) {
  .about {
    background-image: url(../images/desktop/about-bg-web.webp), url(../images/desktop/about-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: left 0 bottom -26px;
    background-position: left 50% bottom -26px;
  }
  .about__title-box {
    width: 534px;
  }
  .about__label {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    margin-bottom: 15px;
  }
  .about__title {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    margin-bottom: 55px;
  }
  .about__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
    padding-bottom: 39px;
    // уточнить у Богдана если он задал паддинг топ след секции.
  }
  .about__content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .about__description {
    width: calc((1050px - 17px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-top: 50px;
    margin-left: 17px;
  }
  .description__header {
    width: 463px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 35px;
  }
  .description__text {
    width: 463px;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .description__text:nth-of-type(2n + 2) {
    margin-bottom: 35px;
  }
  .about__image {
    width: calc((1050px - 17px) / 2);
    margin-bottom: 0;
  }
  .about__btn {
    margin-top: 45px;
  }
  .about__btn-box {
    width: 463px;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  .about {
    background-image: url(../images/desktop/about-bg-web@2x.webp),
      url(../images/desktop/about-bg@2x.png);
  }
}
