.footer-section {
  background-color: var(--secondary-bg);
  //   width: 100%;
}
.footer__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 43px;
  @media screen and (min-width: 768px) {
    flex-direction: unset;
    justify-content: space-between;
    padding-bottom: 91px;
  }
}

.socials-list__link {
  background-color: var(--secondary-accent-color);
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.social-list__item:not(:last-child) {
  margin-right: 25px;
}
.footer-text {
  margin-bottom: 43px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.footer-text__base {
  font-family: var(--special-font);
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  font-weight: 400;
  color: #ffa5ba;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.footer-text__accent {
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  font-size: 34px;
  line-height: 39px;
  color: var(--accent-color);
  font-family: var(--special-font);
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}
.copyright-block {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px #e1e1e1;
  @media screen and (min-width: 768px) {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
.copyright {
  text-align: center;
  font-weight: 700;
  color: #907e82;
  font-family: var(--main-font);
  width: 150px;
  font-size: 14px;
  margin: auto;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}
.contact-action {
  color: black;
  text-align: right;
  font-size: 12px;
  line-height: 1.8;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
  &__tel {
    color: var(--accent-color);
    &:hover,
    &:focus {
      color: var(--secondary-accent-color);
    }
  }
}
