// @media screen and (min-width: 320px) {
// }

.page-header {
  padding: 6px 0;
  background: var(--cream-pink);
  max-width: 480px;
  margin: 0 auto;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 200px;
    height: 50px;
  }
}

.site-nav {
  &__list {
    display: none;
  }
}
.header__btn {
  display: none;
}

.burger-btn {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.burger-btn__icon {
  stroke: var(--accent-color);
  width: 20px;
  height: 12px;

  .burger-btn:hover &,
  .burger-btn:focus & {
    stroke: var(--clear-white);
  }
}
.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  width: 250px;
  max-width: 250px;
  background-color: var(--menu-bg);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;

  &__container {
    position: relative;
    padding: 60px 0;
    flex-direction: column;
  }

  &__close-btn {
    position: absolute;
    top: 23px;
    right: 28px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  &__close-icon {
    width: 14px;
    height: 14px;
    stroke: var(--clear-white);
  }

  &__close-icon:hover {
    stroke: var(--accent-color);
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .header__btn {
    display: flex;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.31;
    font-weight: 700;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 22px;
    width: 186px;
    height: 44px;
    margin: 0 auto 20px;

    .right-arrow {
      width: 8px;
      height: 16px;
    }
  }
}

.nav-list {
  &__item {
    box-sizing: border-box;
    height: 42px;
    justify-content: left;
    align-items: center;
    display: flex;
    border: 1px solid var(--menu-border-color);
    border-left: none;
    border-right: none;
    padding-left: 20px;
  }
  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    align-items: center;
    color: var(--clear-white);
  }

  .current {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 37px 0;
    width: 768px;
    max-width: 768px;
    margin: 0 auto;
  }

  .page-header__buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .header__btn {
    box-sizing: border-box;
    display: flex;
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.31;
    font-weight: 700;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 22px;
    width: 160px;
    height: 44px;
    margin-bottom: 0px;
    margin-left: 30px;

    .right-arrow {
      width: 8px;
      height: 16px;
    }
  }

  .burger-btn {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .burger-btn__icon {
    stroke: var(--accent-color);
    width: 20px;
    height: 12px;

    .burger-btn:hover &,
    .burger-btn:focus & {
      stroke: var(--clear-white);
    }
  }

  .mobile-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    width: 250px;
    max-width: 250px;
    background-color: var(--menu-bg);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;

    &__container {
      position: relative;
      padding: 60px 0;
    }

    &__close-btn {
      position: absolute;
      top: 23px;
      right: 34px;
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
    }

    &__close-icon {
      width: 14px;
      height: 14px;
      stroke: var(--clear-white);
    }

    &__close-icon:hover {
      stroke: var(--accent-color);
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .header__btn {
      box-sizing: border-box;
      display: flex;
      font-family: var(--main-font);
      font-size: 16px;
      line-height: 1.31;
      font-weight: 700;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 22px;
      width: 186px;
      height: 44px;
      margin: 0 auto 20px;

      .right-arrow {
        width: 8px;
        height: 16px;
      }
    }
  }

  .nav-list {
    &__item {
      box-sizing: border-box;
      height: 42px;
      justify-content: left;
      align-items: center;
      display: flex;
      border: 1px solid var(--menu-border-color);
      border-left: none;
      border-right: none;
      padding-left: 20px;
    }
    &__link {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.29;
      display: flex;
      align-items: center;
      color: var(--clear-white);
    }

    .current {
      color: var(--accent-color);
    }
  }
}

@media screen and (min-width: 1280px) {
  .page-header {
    padding: 37px 0;
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .mobile-menu,
  .burger-btn {
    display: none;
  }

  .site-nav {
    &__list {
      display: flex;
      justify-content: center;
    }
    &__item {
      margin: 0 20px;
    }
    &__link {
      color: var(--clear-white);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
    }

    .current {
      color: var(--accent-color);
    }
  }
  .header__btn {
    margin-left: 0;
  }
}
