.hero-section {
  background-color: var(--cream-pink);
  margin: 0 auto;
  // box-sizing: border-box;
  // width: 100%;
  // padding-top: 193px;
  // padding-bottom: 154px;

  // height: 309px;

  // @media screen and (min-width: 768px) {
  //   // padding-top: 102px;
  //   // height: 297px;
  //   // padding-bottom: 0px;
  // }
  // @media screen and (min-width: 1280px) {
  //   // padding-top: 171px;
  //   // height: 484px;
  // }
}
.hero-container {
  // position: relative;
  // height: 100%;
  // box-sizing: border-box;
  position: relative;
  padding-top: 193px;
  height: 309px;
  background-size: 171px 410px, 346px 344px;
  background-repeat: no-repeat;
  background-image: url('../../src/images/mobile/hero-ice.png'),
    url('../../src/images/mobile/hero-ellipse-mobile.png');
  background-position: bottom 0px right 32px, bottom 80px right -50px;
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url('../../src/images/mobile/hero-ice@2x.png'),
      url('../../src/images/mobile/hero-ellipse-mobile.png');
  }
  @media screen and (min-width: 480px) {
    background-position: bottom 0px right 85px, bottom 80px right 0px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 102px;
    background-size: 143px 336px, 168px 133px, 324px 322px, 124px 126px;
    background-image: url('../../src/images/tablet/hero-ice.png'),
      url('../../src/images/tablet/hero-girl.png'),
      url('../../src/images/tablet/hero-ellipse-tablet.png'),
      url('../../src/images/tablet/hero-milk.png');
    background-position: bottom 0px right 200px, bottom 0px right 0px, bottom 46px right 97px,
      bottom 28px left 34px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url('../../src/images/tablet/hero-ice@2x.png'),
      url('../../src/images/tablet/hero-girl@2x.png'),
      url('../../src/images/tablet/hero-ellipse-tablet.png'),
      url('../../src/images/tablet/hero-milk@2x.png');
  }
  @media screen and (min-width: 1280px) {
    padding-top: 171px;
    height: 665px;
    background-size: 236px 557px, 293px 232px, 538px 538px, 188px 191px;
    background-image: url('../../src/images/desktop/hero-ice.png'),
      url('../../src/images/desktop/hero-girl.png'),
      url('../../src/images/desktop/hero-ellipse-desktop.png'),
      url('../../src/images/desktop/hero-milk.png');
    background-position: bottom 0px right 298px, bottom 0px right 0px, bottom 70px right 177px,
      bottom 45px left 0px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: url('../../src/images/desktop/hero-ice@2x.png'),
      url('../../src/images/desktop/hero-girl@2x.png'),
      url('../../src/images/desktop/hero-ellipse-desktop.png'),
      url('../../src/images/desktop/hero-milk@2x.png');
  }
}
.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-title {
  font-family: var(--special-font);
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--clear-white);
  width: 218px;
  margin: 0;
  &--red {
    color: var(--accent-color);
    font-size: 48px;
    line-height: 96.5%;
  }
  @media screen and (min-width: 768px) {
    font-size: 22px;
    width: 162px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    width: 277px;
  }
}

.hero-counter {
  display: none;
  width: 50px;
  height: 50px;
  // margin-left: 651px;
  // margin-top: -170px;
  &__item:not(:last-child) {
    padding-bottom: 13px;
    @media screen and (min-width: 1280px) {
      padding-bottom: 15px;
    }
  }
  &__number {
    position: relative;
    font-family: var(--special-font);
    color: #d41443;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    z-index: 0;
    // background-color: transparent;
    // width: 50px;
    // height: 50px;
    // border-radius: 50%;
    // box-shadow: 30px -30px 0px 0px ivory;

    &::after {
      z-index: -1;
      position: absolute;
      top: -3px;
      right: -7px;
      // left: 70%;
      // top: 0%;
      background-color: #fff;
      content: '';
      border-radius: 50%;
      width: 16px;
      height: 16px;
      @media screen and (min-width: 1280px) {
        width: 30px;
        height: 30px;
        top: -5px;
        right: -20px;
      }
    }
    @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 53px;
    }
  }
  &__text {
    font-family: var(--main-font);
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: var(--clear-white);
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 18px;
      // width: 90px;
    }
  }

  @media screen and (min-width: 768px) {
    display: block;
    position: relative;
    // position: absolute;
  }
}

.hero-btn {
  font-family: var(--main-font);
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    padding-bottom: 10px;
    margin-top: 25px;
  }

  &__item:not(:last-child) {
    padding-right: 8px;
  }

  &--white {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--accent-color);
    color: var(--clear-white);
    transition: color 200ms cubic-bezier(0.17, 0.67, 0.86, 0.46),
      background-color 200ms cubic-bezier(0.17, 0.67, 0.86, 0.46);
    &:focus,
    &:hover {
      background-color: var(--button-hover);
      color: #c7133e;
    }
  }

  &--inverse {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--clear-white);
    color: var(--accent-color);
    transition: color 200ms cubic-bezier(0.17, 0.67, 0.86, 0.46),
      background-color 200ms cubic-bezier(0.17, 0.67, 0.86, 0.46);
    &:focus,
    &:hover {
      background-color: var(--accent-color);
      color: var(--clear-white);
    }
  }
}
.hero__secondary-text {
  position: absolute;

  display: none;
  @media screen and (min-width: 767px) {
    display: block;
    left: 150px;
    top: 290px;
  }
  @media screen and (min-width: 1280px) {
    left: 180px;
    top: 485px;
  }
}
.hero-text {
  font-family: var(--main-font);
  font-size: 8px;
  line-height: 150%;
  width: 114px;
  display: none;
  color: var(--clear-white);
  @media screen and (min-width: 767px) {
    display: block;
    // margin-top: 26px;
    // margin-left: 154px;
  }
  @media screen and (min-width: 1280px) {
    width: 200px;
    font-size: 14px;
    // margin-top: 112px;
    // margin-left: 180px;
  }
}
.button-right-arrow-hero {
  margin-top: 8px;
  // background-color: #fff;
  // border-radius: 50%;
  // width: 30px;
  // height: 30px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // position: absolute;
  // left: 0;
  // bottom: -20px;
}

// .hero__arrow-svg {
// }

//   @media screen and (max-width: 767px) {
//   }

//   @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
//     screen and (min-resolution: 192dpi) and (max-width: 767px),
//     screen and (min-resolution: 2dppx) and (max-width: 767px) {
//   }

//   @media screen and (min-width: 768px) {
//   }
//   @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
//     screen and (min-resolution: 192dpi) and (min-width: 768px),
//     screen and (min-resolution: 2dppx) and (min-width: 768px) {
//   }

//   @media screen and (min-width: 1200px) {
//   }

//   @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
//     screen and (min-resolution: 192dpi) and (min-width: 1200px),
//     screen and (min-resolution: 2dppx) and (min-width: 1200px) {
//   }
// .hero-bg-grp {
//   position: absolute;
//   left: 36px;
//   bottom: 255px;
//   @media screen and (min-width: 768px) {
//     left: 307px;
//     bottom: 370px;
//   }
//   @media screen and (min-width: 1280px) {
//     left: 475px;
//     bottom: 540px;
//   }
// }
// .hero-bg__elipse {
//   width: 346px;
//   height: 344px;
//   background-color: #ffa5ba;
//   border-radius: 50%;
//   position: absolute;
//   left: 30%;
//   @media screen and (min-width: 768px) {
//     width: 324px;
//     height: 322px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 538px;
//     height: 538px;
//   }
// }
// .hero-bg__img {
//   width: 100%;
//   height: 100%;
//   padding-bottom: 70px;
//   background-repeat: no-repeat;
//   background-position-x: 45%;
//   background-image: url('../../src/images/mobile/hero-ice-web.webp');
//   @media screen and (min-width: 768px) {
//     background-image: url('../../src/images/tablet/hero-ice-web.webp');
//     background-position: bottom;
//     background-position-y: 33px;
//     background-position-x: 71px;
//     padding-bottom: 50px;
//   }
//   @media screen and (min-width: 1280px) {
//     background-image: url('../../src/images/desktop/hero-ice-web.webp');
//     background-position: bottom;
//     background-position-y: 33px;
//     background-position-x: 71px;
//     padding-bottom: 50px;
//   }
// }
// .hero-girl {
//   position: absolute;
//   bottom: 0;
//   right: 35px;
// }
// .hero-milk {
//   position: absolute;
//   bottom: 28px;
//   @media screen and (min-width: 1280px) {
//     bottom: 45px;
//   }
// }
// .hero-counter__number::after {
//   width: 30px;
//   height: 30px;
//   background-color: #fff;
//   box-shadow: ivory;
// }

.box {
  animation: rat-opaque 4s ease-in-out forwards;
  margin-top: -2.1%;
}

.rat {
  width: 60px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 60px 20px;
  z-index: 12;
}

.mouse {
  animation: running-rat 3s cubic-bezier(0.62, 0.64, 0.45, 0.97) forwards;
  margin-top: 20px;
}

.mouse div {
  background-image: url(https://nsm09.casimages.com/img/2021/07/09//21070904503425998217488039.png);
  animation: little-jump 0.2s infinite;
}

@keyframes running-rat {
  100% {
    transform: translatex(100%);
  }
}

@keyframes little-jump {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes rat-opaque {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
